<%- include('../partials/header'); %>
    <h1>メッセージ更新</h1>
    <form action="/messages/<%= message.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <div>
            <label for="content">内容</label>
            <input type="text" name="content" value="<%= message.content %>">
        </div>
        <input type="submit" value="更新">
    </form>
    </body>

    </html>