<%- include('../partials/header'); %>
<form action="/messages/search" method="get">
    <input type="text" name="messageContent">
    <input type="text" name="name">
    <input type="text" name="katagaki">
    <input type="submit" value="検索">
</form>