<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message.title %> - メッセージボード</title>
</head>
<body>
    <h1>メッセージ</h1>
    <ul>
        <li><%= message.content %></li>
        <ul>
            <% message.replies.map((reply) => { %>
                <li><%= reply.content %></li>
            <% }) %>
        </ul>
    </ul>
    <div>
        <h2>返信する</h2>
        <form action="/replies" method="post">
            <input type="hidden" name="message_id" value="<%= message.id %>">
            <input type="text" name="content">
            <input type="submit" value="送信">
        </form>
    </div>

    <a href="/messages">
        <button>戻る</button>
    </a>
</body>
</html>